In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
d=pd.read_excel('surveylungcancer.xlsx')
d

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [5]:
d.shape

(309, 16)

In [6]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GENDER                 309 non-null    object
 1   AGE                    309 non-null    int64
 2   SMOKING                309 non-null    int64
 3   YELLOW_FINGERS         309 non-null    int64
 4   ANXIETY                309 non-null    int64
 5   PEER_PRESSURE          309 non-null    int64
 6   CHRONIC DISEASE        309 non-null    int64
 7   FATIGUE                309 non-null    int64
 8   ALLERGY                309 non-null    int64
 9   WHEEZING               309 non-null    int64
 10  ALCOHOL CONSUMING      309 non-null    int64
 11  COUGHING               309 non-null    int64
 12  SHORTNESS OF BREATH    309 non-null    int64
 13  SWALLOWING DIFFICULTY  309 non-null    int64
 14  CHEST PAIN             309 non-null    int64
 15  LUNG_CANCER            309 non-null    object
dtypes: int64(14), object(2)
memory usage: 38.8+ KB

In [7]:
d.describe()

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000
mean,62.673139,1.563107,1.569579,1.498382,1.501618,1.504854,1.673139,1.556634,1.556634,1.556634,1.579288,1.640777,1.469256,1.556634
std,8.210301,0.496806,0.495938,0.500808,0.500808,0.500787,0.469827,0.497588,0.497588,0.497588,0.494474,0.480551,0.499863,0.497588
min,21.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,57.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,62.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000
75%,69.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,87.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [8]:
d.isnull().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [9]:
d['GENDER'].unique()

array(['M', 'F'], dtype=object)

In [11]:
d['GENDER'] = d['GENDER'].replace({'M':0,'F':1})

In [12]:
d['LUNG_CANCER'] = d['LUNG_CANCER'].replace({'YES':1,'NO':0})

In [13]:
def age(agevalue):
    if agevalue < 30:
        return 1
    elif agevalue <50:
        return 2
    else:
        return 3

In [14]:
d['AGE'] = d['AGE'].apply(age)
d

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,0,3,1,2,2,1,1,2,1,2,2,2,2,2,2,1
1,0,3,2,1,1,1,2,2,2,1,1,1,2,2,2,1
2,1,3,1,1,1,2,1,2,1,2,1,2,2,1,2,0
3,0,3,2,2,2,1,1,1,1,1,2,1,1,2,2,0
4,1,3,1,2,1,1,1,1,1,2,1,2,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,3,1,1,1,2,2,2,1,1,2,2,2,2,1,1
305,0,3,2,1,1,1,1,2,2,2,2,2,2,1,2,1
306,0,3,2,1,1,1,1,1,2,2,2,2,1,1,2,1
307,0,3,2,1,2,1,1,2,2,1,2,2,2,1,2,1
308,0,3,1,1,1,2,1,2,2,2,2,1,1,2,1,1

In [15]:
x=d.drop(['LUNG_CANCER'],axis=1)
x

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,0,3,1,2,2,1,1,2,1,2,2,2,2,2,2
1,0,3,2,1,1,1,2,2,2,1,1,1,2,2,2
2,1,3,1,1,1,2,1,2,1,2,1,2,2,1,2
3,0,3,2,2,2,1,1,1,1,1,2,1,1,2,2
4,1,3,1,2,1,1,1,1,1,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,3,1,1,1,2,2,2,1,1,2,2,2,2,1
305,0,3,2,1,1,1,1,2,2,2,2,2,2,1,2
306,0,3,2,1,1,1,1,1,2,2,2,2,1,1,2
307,0,3,2,1,2,1,1,2,2,1,2,2,2,1,2
308,0,3,1,1,1,2,1,2,2,2,2,1,1,2,1

In [16]:
y=d.LUNG_CANCER
y

0      1
1      1
2      0
3      0
4      0
      ..
304    1
305    1
306    1
307    1
308    1
Name: LUNG_CANCER, Length: 309, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

## Cross_val_score

In [19]:
from sklearn.model_selection import cross_val_score

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
model_cross = cross_val_score(DecisionTreeClassifier(),x_train,y_train,cv=5)

In [22]:
model_cross

array([0.87234043, 0.84782609, 0.82608696, 0.86956522, 0.82608696])

In [24]:
model_cross.mean()

0.8483811285846438

In [25]:
from sklearn.ensemble import BaggingClassifier

In [26]:
bg = BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,oob_score=True,random_state=1)

In [27]:
bg.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=1)

In [28]:
bg.oob_score_

0.8658008658008658

## bagging using cross_val_

In [29]:
bg1 = BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.8,oob_score=True,random_state=1)

In [31]:
bgcv=cross_val_score(bg1,x_train,y_train,cv=5)

In [32]:
bgcv.mean()

0.874468085106383

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
model_rfc_cross = cross_val_score(RandomForestClassifier(),x_train,y_train,cv=5)

In [36]:
model_rfc_cross.mean()

0.8961147086031452