# sum all the number in the list

In [4]:
def add(*args):
    return sum(args)

In [5]:
print(add(111,112,113,114,115))

565

# product all the number in the list

In [1]:
def maximum(a, b, c):
    list = [a, b, c]
    return max(list)

a= int(input("enter"))
b= int(input("enter"))
c= int(input("enter"))
print(maximum(a, b, c))

enter45
enter79
enter70
79

# function to multiply all the num in list

In [8]:
from functools import reduce
list1 = [1, 2, 3]

 
r = reduce((lambda x, y: x * y), list1)
print(r

6

In [9]:
from functools import reduce
list1=[3,5,7,9,11]
def prod(a,b):
    return a*b
s=reduce(prod,list1)
s

10395

# write a function to reverse a string

In [17]:
def reverse(a):
    a=a[::-1]
    return a

a = "hello world"

print(reverse(a))

dlrow olleh

# factor of n numial of n num

In [1]:
def factorial(n):
    
        fact = 1
        while(n > 1):
            fact =fact*n
            n =n-1
        print(fact)
 
num =  int(input("enter "))
factorial(num)

enter 6
720

# write a functions that takes a list and return a new list with unique element of the list

In [39]:
def unique(list1):
 
    uniquelist = []
    
    for i in list1:
        if i not in uniquelist:
            uniquelist.append(i)
            print(uniquelist)
        
    

list1 = [10, 20, 10, 30, 40, 40]

unique(list1)

[10]
[10, 20]
[10, 20, 30]
[10, 20, 30, 40]

# function that accepts a string and calculate the number of uppercase and lowercase letters

In [45]:
def string(s):
    count1=0
    count2=0
    for i in s:
        if(i.islower()):
            count1=count1+1
        elif(i.isupper()):
            count2=count2+1
      
    
    print (count1)
    print (count2)

string('The quick Brown Fox')

13
3