# Assignment 1

# Addition

In [16]:
x=int(input("enter the number "))
y=int(input("enter the number "))
sum=x+y
print(sum)

enter the number 56
enter the number 26
82

# Subtraction

In [25]:
x=int(input("enter the number "))
y=int(input("enter the number "))
sub=x-y
print(sub)

enter the number 56
enter the number 26
30

# multiplication

In [18]:
x=int(input("enter the number "))
y=int(input("enter the number "))
mul=x*y
print(mul)

enter the number 56
enter the number 26
1456

# Division

In [19]:
x=int(input("enter the number "))
y=int(input("enter the number "))
div=x/y
print(div)

enter the number 56
enter the number 26
2.1538461538461537

# Modulus

In [20]:
x=int(input("enter the number "))
y=int(input("enter the number "))
mod=x%y
print(mod)

enter the number 56
enter the number 26
4

# swap two variable without third variable

In [21]:
x=int(input("enter the number "))
y=int(input("enter the number "))
x=x*y
y=x//y
x=x//y
print(x,y)

enter the number 56
enter the number 26
26 56

In [22]:
x=int(input("enter the number"))
y=int(input("enter the number"))
x=x+y
y=x-y
x=x-y
print(x,y)

enter the number56
enter the number26
26 56

# swap two variable with third variable

In [23]:
x=int(input("enter the number"))
y=int(input("enter the number"))
temp=x
x=y
y=temp
print(x,y)

enter the number56
enter the number26
26 56

# Simple interest

In [29]:
P=float(input("enter the number"))
R=float(input("enter the number"))
T=float(input("enter the number"))
SI=(P*R*T)/100
print(SI)

enter the number400
enter the number2.5
enter the number4
40.0

# Average of student mark

In [30]:
num1=int(input("enter the number: "))
num2=int(input("enter the number: "))
num3=int(input("enter the number: "))
num4=int(input("enter the number: "))
num5=int(input("enter the number: "))
average=(num1+num2+num3+num4+num5)/5
print(average)

enter the number: 56
enter the number: 98
enter the number: 78
enter the number: 100
enter the number: 87
83.8

# Net salary

In [33]:
basic=float(input("Enter Basic Salary :"))
da=float(basic*0.05)
hra=float(basic*0.10)
pf= float(basic*0.12)
netsalary=float(basic+da+hra)-pf
print(netsalary)

Enter Basic Salary :12000
12360.0

# Area of the shape

In [35]:
PI=float(input("enter the number"))
R=float(input("enter the number"))
Area_of_a_circle = PI*R*R
print(Area_of_a_circle)

enter the number3.14
enter the number5
78.5

In [36]:
L=float(input("enter the number"))
B=float(input("enter the number"))
Area_of_a_rectangle = L*B
print(Area_of_a_rectangle)

enter the number15
enter the number7
78.5

In [38]:
S=float(input("enter the number"))
Area_of_a_square = S*S
print(Area_of_a_square)

enter the number6
36.0

# perimeter of the shape

In [40]:
PI=float(input("enter the number"))
R=float(input("enter the number"))
perimeter_of_a_circle = 2*PI*R
print(perimeter_of_a_circle)

enter the number3.14
enter the number5
31.400000000000002

In [41]:
L=float(input("enter the number"))
B=float(input("enter the number"))
perimeter_of_a_rectangle = 2*(L+B)
print(perimeter_of_a_rectangle)

enter the number15
enter the number7
44.0

In [42]:
S=float(input("enter the number"))
perimeter_of_a_square = 4*S
print(perimeter_of_a_square)

enter the number6
24.0